
html{
    font-family: monospace;
    align-items: inherit;
    background-color:rgb(255, 255, 255);
    position: static;
    padding-bottom: 0;
}
body{
    padding: 0;
    margin: 0;
}
div{
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
    position: relative;
}
.resume-box{
    position:relative;
    width: fit-content;
    height: auto;
    max-height: max-content;
}
.header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-style: outset double;
    position: fit-content;
    margin: 0;
    padding: 0;
    background-color: aqua;
    float: top;
    text-align: center;
}
.profile{
    clip-path: circle();
}

.navbar{
    float:inline-start;
    height: auto;
    width: 50%;
    position: ;
    color:rgb(255, 8, 197);
}
.left-part{
    border-bottom-left-radius: 20px;
    margin: 0;
    padding: 0;
    margin-top: 0;
    border-style: calc(fit-content);
    background-color: rgb(177, 215, 215);
    float: left;
    position: inherit;
    width: 50%;
    height: 600px;
}

.right-part{
    border-bottom-right-radius: 20px;
    background-color: darkkhaki;
    padding: 0;
    margin: 0;
    float: right !important;
    position: relative !important;;
    width: 50%;
    height: 600px;
}