
body{
    background: #e7e7e7;
    margin: 0;
    padding: 0;

}

.homeform {
    position:relative;
    width: 20%;
    max-height: max-content;
}


*{
    font-size: medium;
    font-family: monospace;
    position:static !important;
}
.resume-box{
    position:relative;
    width: fit-content;
    height: auto;
    max-height: max-content;
}

.details{
    height: max-content;
    border-left-color: blue;
}

.left-section{
    background-color: rgb(157, 207, 157) !important;
    width: 50%;
    float: left;
    padding-left: ;
    padding-right: ;
    height: 40%;
}
.right-section{
    background-color: rgb(195, 173, 145);
    width: 50%;
    float: right;
    height: 40%;
}

.head{
    text-align: center;
    background-color: rgb(135, 132, 137);
    float: initial;
    border-top-style: double;
    position: inherit;
    border-radius: 5px;
}

.profile-picture{
    clip-path: circle();
    margin: auto;
}
    
